.about {
  background-color: #0a2850;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  gap: 173px;
}

.about__title {
  padding: 100px 80px 0;
  margin: 0;
  max-width: 251px;
  display: block;
  z-index: 1;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.about__content {
  max-width: 660px;
  z-index: 1;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding: 119px 80px 20px 173px;
}

.about__parapragh {
  margin: 0 0 32px;
  color: #fff;
  gap: 20px;
}

.about__circle {
  border-radius: 50%;
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  top: -152px;
  position: absolute;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
  transform: scale(1.2);
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
