.reservation__form {
  margin: 0 auto;
  background-color: #d9e7ff;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: block;
  color: #838383;
}

.form__label {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  appearance: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form__input {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 4px;
  text-indent: 12px;
  max-width: 385px;
}

.form__button {
  background-color: #2f80ed;
  width: 100%;
  height: 60px;
  padding: 0;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  border-radius: 4px;
  display: block;
  opacity: 100%;
}

.form__button:hover {
  opacity: 70%;
  transition: ease;
}
